<p>{{coin.nameCoin}}</p>
<plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
<plotly-plot [data]="graph2.data" [layout]="graph2.layout"></plotly-plot>
<table mat-table [dataSource]="results" class="mat-elevation-z8">
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell [routerLink]="['/coins/', result.dateCreation]" *matCellDef="let result"> {{result.dateCreation}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let result"> {{result.price}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Exchange">
      <th mat-header-cell *matHeaderCellDef> Exchange </th>
      <td mat-cell *matCellDef="let result"> {{result.exchangeName}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   
  </table>

  <div class="example-button-container">
    <a [routerLink]="['/addExchange/', coin.nameCoin]" class="btn btn-link">add exchange</a> 
