<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div *ngIf="sessionOn">
        <button class="btn btn-outline-success" [routerLink]="['/']" >Log out</button>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
<p>{{coin.nameCoin}}</p>
<div class="row">
  <div class="col">
    <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
  </div>
  <div class="col">
    <plotly-plot [data]="graph2.data" [layout]="graph2.layout"></plotly-plot>
  </div>
</div>
  <div class="mb-3">
    <select [(ngModel)]="seleccionado" (change)="selectChangeHandler($event)" class="form-select" aria-label="Default select example">
      <option value ="1"selected>Ayer</option>
      <option value ="7">1 semana</option>
      <option value="14">2 semanas</option>
      <option value="30">1 Mes</option>
      <option value="90">3 Meses</option>
      <option value="180">6 Meses</option>
      <option value="365">1 año</option>
    </select>
 </div>
<table mat-table [dataSource]="results" class="mat-elevation-z8">
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell [routerLink]="['/coins/', result.dateCreation]" *matCellDef="let result"> {{result.dateCreation}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let result"> {{result.price}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Exchange">
      <th mat-header-cell *matHeaderCellDef> Exchange </th>
      <td mat-cell *matCellDef="let result"> {{result.exchangeName}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   
  </table>

  <div class="example-button-container">
    <button  mat-fab  [routerLink]="['/addExchange/', coin.nameCoin]" color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>add</mat-icon>
    </button>

  </div>
</div>