<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div *ngIf="sessionOn">
          <button class="btn btn-outline-success" [routerLink]="['/']">Log out</button>
        </div>
      </div>
    </div>
  </nav>
<div class="container-fluid">
    <div>
        <form (ngSubmit)="onSubmit()" [formGroup]="newCoinForm"> 
        
            <div class="mb-3">
               <label for="coinName">Coin name</label>
               <input type="text" required formControlName="coinName" class="form-control">
           </div>
           <div class="mb-3">
            <label for="coinDescription">Coin description</label>
            <input type="text" required formControlName="coinDescription" class="form-control">
           </div>
           <div class="mb-3">
            <label for="coinAcronym">Coin acronym</label>
            <input type="text" required formControlName="coinAcronym" class="form-control">
           </div>
           <div class="mb-3">
            <label for="coinLinkToWikipedia">Coin link to Wikipedia</label>
            <input type="text" required formControlName="coinLinkToWikipedia" class="form-control">
           </div>

         
           <div class="mb-3">
               <button class="btn btn-primary" type="submit">Save</button>    
               <a routerLink="/coins" class="btn btn-link">Cancel</a>
           </div>
        
        </form>
    </div>

