
<div class="container-fluid">
    <div>
        <form (ngSubmit)="onSubmit()" [formGroup]="newCoinForm"> 
        
            <div class="mb-3">
               <label for="coinName">Coin name</label>
               <input type="text" required formControlName="coinName" class="form-control">
           </div>
           <div class="mb-3">
            <label for="coinDescription">Coin description</label>
            <input type="text" required formControlName="coinDescription" class="form-control">
           </div>
           <div class="mb-3">
            <label for="coinAcronym">Coin acronym</label>
            <input type="text" required formControlName="coinAcronym" class="form-control">
           </div>
           <div class="mb-3">
            <label for="coinLinkToWikipedia">Coin link to Wikipedia</label>
            <input type="text" required formControlName="coinLinkToWikipedia" class="form-control">
           </div>

         
           <div class="mb-3">
               <button class="btn btn-primary" type="submit">Save</button>    
               <a routerLink="/coins" class="btn btn-link">Cancel</a>
           </div>
        
        </form>
    </div>

